<!DOCTYPE html>
<html>
  <head>
    <title>FirstBlogRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <h1> This is the Users page</h1>
  </body>
</html>
