<!DOCTYPE html>
<html>
  <head>
    <title>FirstBlogRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <h1><%=params %></h1>
    <p> This is the Users page and currently you have selected <%= params[:id] %> user ID. </p>
  </body>
</html>
