body {
  margin: 0;
  padding: 0;
}

.usersMainPage {
  gap: 2rem;
}

.postsMainBox {
  width: 100%;
}

.usersMainPage,
.postsMainBox {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.linksUserPage {
  display: flex;
  padding: 2% 4% 0% 4%;
  width: 91%;
  height: 8rem;
  gap: 5%;
}

.userboxPlaceholder {
  width: 15%;
  height: 100%;
  border: 2px solid black;
}

.userpageInformation {
  width: 80%;
  height: 100%;
  border: 2px solid black;
  position: relative;
}

.userpageHeading {
  position: absolute;
  font-size: xx-large;
  top: 15%;
  font-weight: bolder;
  left: 2%;
}

.userpagePosts {
  position: absolute;
  font-size: x-large;
  font-weight: bold;
  bottom: 20%;
  right: 2%;
}

.usersbioBox {
  border: 2px solid black;
  width: 89%;
  padding: 1%;
}

.userspageCounter {
  text-align: right;
}

.postsButton {
  border: 2px solid black;
  padding: 10%;
  width: 10rem;
  box-shadow: 2px 2px 2px 2px #888;
  cursor: pointer;
}
